.idea
.vagrant
.vscode/*
src/*.o
log/*.log
bin/md
player/*/*
area_current/adjusted.txt
area_current/boot.txt
area_current/gamebugs.txt
area_current/owner.lst
area_current/siteban.lst
area_current/victory.txt
area_current/castle/castles.are
clans/clan.lst
clans/owner.lst
clans/*.cln
clans/*.cln.bak
